@import "../utils/_variables";

header{
    width: 100%;
    overflow-x: hidden;   
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px;
    height: 80px;
    background-color: white;
    &__logo{
        font-size: 40px;
    }
    &__arrow{
        position: absolute;
        height: 25px;
        left: 30px; 
        top:15px;
        padding: 10px;
        border-radius: 50%;
        &:hover{
            animation: move_arrow 0.3s ease-in both;
        }
        &::after{
            content: "";
            background-color: red;
            position: absolute;
            left: 50px;
        }
    }
    &__img{
        width: 105%;
        position: relative;
        z-index: -1;
        @media(min-width:550px) {
            height: 350px;
            object-fit: cover;
        }
    }
    &__img--note{
        margin-top: -130px;
        @media(min-width:550px) {
            height: 500px;
        }
    }
}

