@import "../utils/_variables";

header{
    width: 100%;
    overflow-x: hidden;
    .head__img{
        width: 105%;
        position: relative;
        z-index: -1;
        @media(min-width:550px) {
            height: 350px;
            object-fit: cover;
        }
    }
    .head__img--note{
        transform: scaleY(1.7);
        height: 350px;
        transform: scaleY(1.7) scaleX(1.2);
        @media(min-width:550px) {
            transform: scale(1);
        }
    }   
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px;
    height: 80px;
    background-color: white;
    &__logo{
        font-size: 40px;
    }
    &__arrow{
        position: absolute;
        height: 25px;
        left: 20px;
        top: 25px;
    }
}