@import "../utils/_variables";

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0px;
    height: 80px;
    &__logo{
        font-size: 40px;
    }
    &__arrow{
        position: absolute;
        height: 25px;
        left: 20px;
        top: 25px;
    }
    &__img{
        width: 100%;
    }
}