.btn{
    text-decoration: none;
    background: $btn_bg;
    color: white;
    border-radius: 30px;
    box-shadow: 3px 4px 4px rgb(216, 213, 213);
    @include parentafter;
    &::after{
        @include after();
        background: linear-gradient(#f387d6,#c18eff) ;
        box-shadow: 5px 5px 5px rgb(184, 178, 178);
        border-radius: 30px;
    }
}
