.loader-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0.9;
    background-color: #353535;
    height: 100%;
    width: 100%;
    z-index: 10;
    animation: disparition 0.5s 2.75s linear both;
    &__animfood{
        height: 200px;
        position: absolute;
    }
    img{
        margin-left: -80px;
        position: absolute;
        top: 0px;
        height: 200px;
    }
    &__animfood img:first-child{
        animation: rotatePhone 1.7s 0.8s forwards;
    }
    &__animfood img:nth-child(2){
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%) ;
        animation: clippop ease-in-out 1.3s forwards,rotatePhone 1.7s 0.8s forwards;
    }
    &__animfood img:nth-child(3){
        opacity: 0;
        animation: rotatePlate 1.5s 1.2s forwards;
    }
}



.mainpage{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #F6F6F6;
    @media (max-width:$tablette) {
        width: 100%;
    }
    @media (min-width:$tablette) {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    margin-top: -70px;
    &__box{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

.titleMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:20px;
    margin-bottom: 40px;
    svg{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 3%;
    }
    &__title{
        font-size: 1.6em;
    }
}

.menu{
    @media (min-width:768px) {
        display: flex;
        justify-content: space-between;
    }
}

.entrees,.plats, .desserts{
    margin-bottom: 40px;
    @media (min-width:768px) {
        width: 30%;
    }
}


.section__title{
    text-transform: uppercase;
    border-bottom: 4px solid $terciary;
    font-size: 18px;
    font-weight: 300;
    width: 45px;
    padding-bottom: 5px;
}

.card{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 25px;
    position: relative;
    height: 75px;
    overflow: hidden;
    box-shadow: 1px 1px 16px -8px rgb(0 0 0 / 75%);
    font-size: 1.15em;
    &:hover{
        .check{
            transform: translateX(-74px);
        }
        .price{
            transform: translateX(-74px);
            margin-left: 90px;
        }
        .check img{
            transform: rotate(360deg);
        }
    }
    .menu_and_price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .price{
        margin-right: 17px;
        margin-bottom: -10px;
        align-self: flex-end;
        font-weight: 700;
        margin-left: 10px;
        transition: transform 0.5s ease, margin-left 0.5s ease;
    }
    .check{
        background-color: $terciary;
        position: absolute;
        right: -75px;
        top:0px;
        width: 75px;
        height: 75px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s ease;
        img{
            height: 25px;
            transition: transform 0.5s ease;
        }
    }
    .menu_food{
        line-height: 17px;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
        margin-left: 15px;
    }
    .menu_title{
        font-weight: 700;
    }
    p{
        text-overflow: ellipsis;
        overflow:hidden;
        white-space: nowrap;
    }
}

.plats{
    animation-delay: 5s;
}

@for $i from 1 to 11 {
    .card--#{$i}{
        @include cardAnimation($i*120ms+2.8s)
    }
}

.box-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

.btn--main{
    font-size: 20px;
    padding: 15px 50px;
}
